<div id="main">
    <ul>
        <li><a href="#description">Project Settings</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#fulltest">Fulltest</a></li>
    </ul>
    <div>
        <div id="description">Content Project Settings</div>
        <div id="services">Content Services</div>
        <div id="fulltest">Content Fulltest</div>
    </div>
</div>